<div class="absolute inset-0 w-full h-full overflow-hidden bg-zinc-950 -z-10">
  <div class="relative w-full h-full">
    <div class="absolute bottom-0 left-[-15%] top-[35%] -translate-x-1/2 -translate-y-1/2 size-[800px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,87,185,.35),rgba(255,255,255,0))]"></div>
    <div class="absolute top-[55%] right-[-35%] lg:right-[-25%] lg:top-[45%] size-[1200px] translate-x-1/2 -translate-y-1/2 rounded-full bg-[radial-gradient(circle_farthest-side,rgba(206,87,255,.45),rgba(255,255,255,0))]"></div>
  </div>
  <div
    class="absolute inset-0 h-full w-full bg-[radial-gradient(#e5e7eb4a_1px,transparent_1px)] [background-size:50px_50px]"
  ></div>
</div>