<div class="absolute inset-0 w-full h-full overflow-hidden bg-zinc-950 -z-10">
  <div class="relative w-full h-full">
    <div class="absolute bottom-0 left-[-10%] lg:left-[5%] top-[25%] -translate-x-1/2 -translate-y-1/2 size-[600px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,87,185,.25),rgba(255,255,255,0))]"></div>
    <div class="absolute top-[60%] right-[-20%] lg:right-[-5%] lg:top-[50%] size-[900px] translate-x-1/2 -translate-y-1/2 rounded-full bg-[radial-gradient(circle_farthest-side,rgba(206,87,255,.25),rgba(255,255,255,0))]"></div>
  </div>
  <div
    class="absolute inset-0 h-full w-full bg-[radial-gradient(#e5e7eb2a_1px,transparent_1px)] [background-size:50px_50px]"
  ></div>
</div>