<header class="absolute z-10 w-full">
  <nav class="border-gray-200 bg-gray-900/20 backdrop-blur-sm">
    <div class="grid max-w-screen-xl grid-cols-2 p-4 mx-auto md:grid-cols-3">
      <%- include('components/logo.ejs') %><%-
      include('components/user-button.ejs') %>
      <div
        class="items-center justify-center hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-user"
      >
        <ul
          class="flex flex-col p-4 mt-4 font-medium border border-gray-700 rounded-lg md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          <li>
            <a
              href="#"
              class="block px-3 py-2 border-gray-700 rounded text-white/70 t md:hover:bg-transparent md:p-0 hover:bg-gray-700 hover:text-white hover:underline hover:underline-offset-4 hover:decoration-brand-500"
              >Mis Cursos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-3 py-2 border-gray-700 rounded text-white/70 t md:hover:bg-transparent md:p-0 hover:bg-gray-700 hover:text-white hover:underline hover:underline-offset-4 hover:decoration-brand-500"
              >Catalogo</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block px-3 py-2 border-gray-700 rounded text-white/70 t md:hover:bg-transparent md:p-0 hover:bg-gray-700 hover:text-white hover:underline hover:underline-offset-4 hover:decoration-brand-500"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
