<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { title: 'Home' }) %>
<body class="relative">
    <%- include('partials/header.ejs') %>
    <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <%- include('partials/components/carrousel.ejs') %>
    <%- include('partials/components/boton-border.ejs', { text: 'COMPRAR YA!' }) %>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>