<div class="fixed bottom-0 left-0 w-20 px-3 py-2 m-4 text-3xl font-bold text-center text-white border bg-zinc-950/60 rounded-xl backdrop-blur border-white/10">
  <h1 class="block sm:hidden">xs</h1>
  <h1 class="hidden sm:block md:hidden">sm</h1>
  <h1 class="hidden md:block lg:hidden">md</h1>
  <h1 class="hidden lg:block xl:hidden">lg</h1>
  <h1 class="hidden xl:block 2xl:hidden">xl</h1>
</div>