<div class="flex-shrink-0 w-full sm:w-[47%] lg:w-[30%]">
  <img
    src="<%= img %>"
    alt="logo de java script"
    class="object-cover w-full aspect-video rounded-xl"
  />
  <div class="flex flex-wrap items-center justify-center mt-2 sm:justify-start gap-x-2 gap-y-1">
    <h3 class="flex-shrink-0 mr-2 font-semibold text-white"><%= titulo %></h3>
    <% locals?.tags.forEach(tag => { %>
      <%- include('tag.ejs', { text: tag}) %>
    <% }) %>
  </div>
</div>
