<a href="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
  <img
    src="https://flowbite.com/docs/images/logo.svg"
    class="h-8"
    alt="Flowbite Logo"
  />
  <span
    class="self-center text-2xl font-semibold text-white whitespace-nowrap <%= locals?.hide ? 'hidden' : '' %>"
    >CourseFlow</span
  >
</a>
