<li>
  <a
    href="<%= link %>"
    class="block px-3 py-2 border-gray-700 rounded text-white/70 t md:hover:bg-transparent md:p-0 hover:bg-gray-700 hover:text-white hover:underline hover:underline-offset-4 hover:decoration-brand-500"
    ><%= text %></a
  >
</li>
