<li class="w-full md:w-auto">
  <a
    href="<%= link %>"
    class="block px-3 py-2 text-white transition border-gray-700 rounded bg-gray-900/60 md:bg-transparent md:text-white/70 t md:hover:bg-transparent md:p-0 hover:text-white md:hover:underline hover:underline-offset-4 decoration-brand-500 hover:scale-105"
    ><%= text %></a
  >
</li>
