<li class="w-full uppercase md:w-auto">
  <a
    href="<%= link %>"
    class="block px-3 py-2 tracking-widest text-center text-white transition border rounded border-white/20 bg-gray-900/60 md:bg-transparent md:text-white/70 md:border-none md:tracking-normal md:normal-case md:hover:bg-transparent md:p-0 hover:text-white md:hover:underline hover:underline-offset-4 decoration-brand-500 hover:scale-105 sm:hover:scale-[1.02] md:hover:scale-105 hover:border-white/40"
    ><%= text %></a
  >
</li>
