<h2 class="flex items-center justify-center gap-2 text-2xl font-light tracking-widest text-center text-white">
    <span class="hidden tracking-tighter sm:inline"> <%- include(`../icons/${icono}.ejs`,{clase:'size-10 inline'})%>]━━━━ </span> 
    <span class="h-full pb-1">
        <%= texto %>
    </span> <span class="hidden tracking-tighter sm:inline"> ━━━━[ <%- include(`../icons/${icono}.ejs`,{clase:'size-10 inline'})%></span>
  </h2>