<div
  class="flex items-center ml-auto space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse gap-5"
>
  <button>
    <img src="https://nikearprod.vteximg.com.br/arquivos/search.svg" alt="logo-busqueda" class="bg-white w-8 h-8 rounded-full">
  </button>
  <button
    type="button"
    class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-600"
    id="user-menu-button"
    aria-expanded="false"
    data-dropdown-toggle="user-dropdown"
    data-dropdown-placement="bottom"
  >
    <span class="sr-only">Open user menu</span>
    <img
      class="object-cover w-8 h-8 rounded-full"
      src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Juan_Rom%C3%A1n_Riquelme_-_2019.jpg"
      alt="user photo"
    />
  </button>
  <!-- Dropdown menu -->
  <div
    class="z-50 hidden my-4 text-base list-none bg-gray-600 divide-y divide-gray-600 rounded-lg shadow"
    id="user-dropdown"
  >
    <div class="px-4 py-3">
      <span class="block text-sm text-gray-900">Bonnie Green</span>
      <span class="block text-sm text-gray-900 truncate dext-gray-400"
        >cursos@CourseFlow.com</span
      >
    </div>
    <ul class="py-2" aria-labelledby="user-menu-button">
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-900  hover:text-white"
          >Dashboard</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-900  hover:text-white"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-900  hover:text-white"
          >Earnings</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-900  hover:text-white"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
  <button
    data-collapse-toggle="navbar-user"
    type="button"
    class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 hover:bg-gray-700 focus:ring-gray-600"
    aria-controls="navbar-user"
    aria-expanded="false"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15"
      />
    </svg>
  </button>
</div>
